body {
    font-family: sans-serif;
    color: #fff;
    background: url("sriLankaBeach.jpg");/*include a background image*/
    background-size: cover;
}

a {
    color: yellow;
    text-decoration: blink;
    font-family: Roboto;
    margin-left: 35px;
}

.reset {
    background: rgba(44,62,80,0.7);
    padding: 80px;
    width: 240px;
    height: 340px;
    margin-left: 180px;
    margin-top: 120px;
    margin: 0 auto;

}

h2 {
    margin-top: 15px;
    margin-left: 10px;
}

input[type="password"] {
    width: 240px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    transition: border 500ms;
    text-align: center;
    color: white;
}

input[type = "button"] {
    border: none;
    background: white;
    color: black;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 12px;
    cursor: pointer;
    width: 180px;
    margin-left: 30px;

}
input[type = "button"]:hover {
    background: black;
    color: white;
}

::placeholder {
    color: aliceblue;
    opacity: 0.8;
}