body {
    font-family: sans-serif;
    color: #fff;
    background: url("sriLankaBeach.jpg");/*include a background image*/
    background-size: cover;
}

.signin {
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    /*drag the element to the center=> margin: auto;*/
    height: 400px;
    /*      top right bottom left    */
    margin: auto;
    margin-top: 80px;
}

form {
    width: 240px;
    text-align: center;
}

input {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play',sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    transition: border 500ms;
    outline: none;
    color: #fff;
}

input[type=button] {/*log in button*/
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;/*hand mark instead of arrow*/
}

input[type=button]:hover {
    color: white;
    background-color: black;
}

h2 {
    color: white;
}

a {
    color: yellow;
    text-decoration: blink;
}

a:hover {
    color: skyblue;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

::placeholder {
    color: aliceblue;
    opacity: 0.8;
}